<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= subject %>
    </title>
</head>

<body>
    <h1>Hello Auguste,</h1>
    <p>Tu as reçu cet email depuis ton site web perso.</p>
    <ul>
        <li>Nom:
            <%= name %>
        </li>
        <li>Objet:
            <%= subject %>
        </li>
    </ul>
    <div>
        <b>Message</b>
        <br>
        <p>
            <%= message %>
        </p>
    </div>
</body>

</html>